In [1]:
print("3번째 수업")

3번째 수업

# 2018년 3월 28일 점프프투파이썬 2장
## 테스트
- 숫자형
1. 기능1
2. 
- 문자형
- 리스트

In [5]:
1. 숫자형
2. 문자형

SyntaxError: invalid syntax (<ipython-input-5-a3b7465a93a1>, line 1)

## 1절 숫자형

In [6]:
123

123

In [7]:
456

456

In [8]:
1+2

3

In [9]:
4*5

20

In [10]:
7/4

1.75

In [11]:
7//4

1

In [12]:
7%4

3

### Lab 1
#### 수익 계산

In [13]:
1-0.9

0.09999999999999998

## 2절 문자열

In [17]:
boy = "i am a boy"
boy

'i am a boy'

In [18]:
girl = 'i am a girl'
girl

'i am a girl'

In [19]:
friend = """
i am a boy
i am a girl
"""

In [21]:
boy +' ' + girl

'i am a boy i am a girl'

In [23]:
boy * 3

'i am a boyi am a boyi am a boy'

revenue = 98456
cost = 45000
profit = revenue - cost
profit

In [33]:
# 문자열 인덱싱
a = "life is too short, you need python"
a[0] + a[10] + a[30]

'lot'

In [36]:
# 문자열 슬라이싱 a <= : < b
a[12:17]

'short'

In [37]:
a[8:]

'too short, you need python'

In [38]:
a[:20]

'life is too short, y'

### Lab 2
#### 문자열 다루기

a = "i love python"
b = "you hate python"

In [39]:
a = "20180328Sunny"
year = a[:4]
month = a[4:6]
day = a[6:8]
weather = a[8:]
print(year, month, day, weather)

2018 03 28 Sunny

In [40]:
"year년 month월 day일 날씨는 weather"

'year년 month월 day일 날씨는 weather'

In [50]:
"{year}년 {month}월 {day}일 날씨는 {weather} 입니다." .format(year=year, month=month, day=day, weather=weather)

'2018년 03월 28일 날씨는 Sunny 입니다.'

### Lab 3
#### 문자열 포매팅

In [51]:
pi = 3.141592
sq_root = 1.141429

In [52]:
"pi is {pi} and square root of 2 is {sq_root}.".format(pi=pi, sq_root=sq_root)

'pi is 3.141592 and square root of 2 is 1.141429.'

# 문자열 내장함수

In [53]:
a = "hobby"
a.count('b')

2

In [54]:
# 위치 알려주기
a = "hobby"
a.find('b')

2

In [55]:
a.index('b')

2

In [56]:
a = " , "
a.join("abcd")

'a , b , c , d'

In [57]:
# 대문자로
a = "i love python"
a.upper()

'I LOVE PYTHON'

In [58]:
a. lower()

'i love python'

In [60]:
# 왼쪽 공백 지우기
a = " hi "
a.lstrip()

'hi '

In [62]:
a.rstrip()

' hi'

In [63]:
a.strip()

'hi'

In [64]:
# 문자열 나누기
a = "life is too short"
a.split()

['life', 'is', 'too', 'short']

## Lab 2 이어서
- 변수 a를 생성하여, 문자열 "I love python!을 할당하시오
- 변수 b를 생성하여, 문자열 "you hate python!을 할당하시오

In [70]:
a="i love python!"
b="you hate python"

In [78]:
a.find('o')

3

In [71]:
b.index('o')

1

In [79]:
a.count('o')

2

In [73]:
a.upper()

'I LOVE PYTHON!'

In [74]:
a.lower()

'i love python!'

In [80]:
a_6 = a[0:7]
a_6

'i love '

In [82]:
a_6.rstrip()

'i love'

# Lab 3